<app-header>
    <div breadcrumbs>User account</div>
</app-header>
<div class="row">
    <div class="user-account">
        {{authService.user?.email}}<br>
        Email <span *ngIf="authService.user?.emailVerified; else noverified">zweryfikowany</span><br>
        Konto utworzone: {{authService.user?.metadata.creationTime}}<br>
        Ostatnie logowanie: {{authService.user?.metadata.lastSignInTime}}<br>

        <ng-template #noverified>niezweryfikowany</ng-template>
        <ng-container *ngIf="!authService.user?.emailVerified">
            <button class="btn" (click)="sendEmailVerLink()">Send Email Ver Link</button>
        </ng-container>
    </div>
</div>
