<div class="row">
  <div class="input-field col s6">
    <input (input)="filterE()" [(ngModel)]="queryText" placeholder="Search car..." type="text" name="query">
  </div>
  <div class="input-field col s6">
      <select name="searchBy" id="searchBy" [(ngModel)]="searchBy" (change)="emitSearchBy()">
          <option value="Search by..." disabled selected>Search by...</option>
          <option *ngFor="let s of selectedBy" [value]="s.value" >{{ s.name }}</option>
        </select>
        <!-- <label>Materialize Select</label> -->
  </div>
</div>
